<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="./barL-nav.css">
    <script crossorigin="anonymous" src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.1/jquery.js"></script>
    <script src="./barL-nav.js"></script>
</head>

    <div class="bar-left">
        <ul class="barL-nav">

            <li>
                <a href="#" class="barL-title">day01: 类型/转换</a>
                <ul class="barL-subT">
                    <li>
                        <a href="#">01.HelloWorld</a>
                    </li>
                    <li>
                        <a href="#">02.JS编写位置</a>
                    </li>
                    <li>
                        <a href="#">03.基本语法</a>
                    </li>
                    <li>
                        <a href="#">04.字面量和变量</a>
                    </li>
                    <li>
                        <a href="#">05.标识符</a>
                    </li>
                    <li>
                        <a href="#">06.1.数据类型(String)</a>
                    </li>
                    <li>
                        <a href="#">06.2.Number</a>
                    </li>
                    <li>
                        <a href="#">06.3.Boolean</a>
                    </li>
                    <li>
                        <a href="#">06.4.Null&Undefined</a>
                    </li>
                    <li>
                        <a href="#">07.1.强制类型转换String</a>
                    </li>
                    <li>
                        <a href="#">07.2.转换为Number</a>
                    </li>
                    <li>
                        <a href="#">07.3.转换成Boolean</a>
                    </li>
                    <li>
                        <a href="#">08.其他进制的数字</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#" class="barL-title">day02: 运算符/if</a>
                <ul class="barL-subT">
                    <li>
                        <a href="#">09.运算符</a>
                    </li>
                    <li>
                        <a href="#">10.一元运算符</a>
                    </li>
                    <li>
                        <a href="#">11.自增和自减</a>
                    </li>
                    <li>
                        <a href="#">12.逻辑运算符(Boolean)</a>
                    </li>
                    <li>
                        <a href="#">13.逻辑运算符(NonBoolean)</a>
                    </li>
                    <li>
                        <a href="#">14.赋值运算符</a>
                    </li>
                    <li>
                        <a href="#">15.关系运算符</a>
                    </li>
                    <li>
                        <a href="#">16.编码</a>
                    </li>
                    <li>
                        <a href="#">17.相等运算符</a>
                    </li>
                    <li>
                        <a href="#">18.条件运算符</a>
                    </li>
                    <li>
                        <a href="#">19.运算符的优先级</a>
                    </li>
                    <li>
                        <a href="#">20.语句</a>
                    </li>
                    <li>
                        <a href="#">21.1.流程控制语句if(1)</a>
                    </li>
                    <li>
                        <a href="#">21.2.if(2)</a>
                    </li>
                    <li>
                        <a href="#">21.a.练习if</a>
                    </li>
                    <li>
                        <a href="#">21.b.练习if</a>
                    </li>
                    <li>
                        <a href="#">21.c.练习if</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#" class="barL-title">day03: switch/循环/对象</a>
                <ul class="barL-subT">
                    <li>
                        <a href="#">22.1.条件分支语句switch</a>
                    </li>
                    <li>
                        <a href="#">22.a.练习switch</a>
                    </li>
                    <li>
                        <a href="#">23.1.while&do_while</a>
                    </li>
                    <li>
                        <a href="#">23.a.练习while</a>
                    </li>
                    <li>
                        <a href="#">23.b.练习while</a>
                    </li>
                    <li>
                        <a href="#">24.1.for循环</a>
                    </li>
                    <li>
                        <a href="#">24.a.练习for</a>
                    </li>
                    <li>
                        <a href="#">24.b.练习for</a>
                    </li>
                    <li>
                        <a href="#">24.c.练习for</a>
                    </li>
                    <li>
                        <a href="#">25.1.嵌套for循环</a>
                    </li>
                    <li>
                        <a href="#">25.a.练习(乘法表)</a>
                    </li>
                    <li>
                        <a href="#">25.b.练习(打印质数)</a>
                    </li>
                    <li>
                        <a href="#">26.break&continue</a>
                    </li>
                    <li>
                        <a href="#">27.1.对象</a>
                    </li>
                    <li>
                        <a href="#">27.2.属性名&属性值</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#" class="barL-title">day04: 对象/函数/this</a>
                <ul class="barL-subT">
                    <li>
                        <a href="#">27.3.基本&引用_数据类型</a>
                    </li>
                    <li>
                        <a href="#">27.4.对象字面量</a>
                    </li>
                    <li>
                        <a href="#">27.5.对象属性: 函数</a>
                    </li>
                    <li>
                        <a href="#">27.6.枚举对象中的属性</a>
                    </li>
                    <li>
                        <a href="#">27.7.创建对象: 工厂</a>
                    </li>
                    <li>
                        <a href="#">28.1.函数</a>
                    </li>
                    <li>
                        <a href="#">28.2.函数的参数</a>
                    </li>
                    <li>
                        <a href="#">28.3.函数的返回值</a>
                    </li>
                    <li>
                        <a href="#">28.4.返回值的类型</a>
                    </li>
                    <li>
                        <a href="#">28.a.练习实参类型</a>
                    </li>
                    <li>
                        <a href="#">29.立即执行函数</a>
                    </li>
                    <li>
                        <a href="#">30.作用域(Scope)</a>
                    </li>
                    <li>
                        <a href="#">31.变量的声明提前</a>
                    </li>
                    <li>
                        <a href="#">32.debug</a>
                    </li>
                    <li>
                        <a href="#">33.1.this</a>
                    </li>
                    <li>
                        <a href="#">33.2.this补充</a>
                    </li>
                    <li>
                        <a href="#">34.1.构造函数</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#" class="barL-title">day05: 原型/数组</a>
                <ul class="barL-subT">
                    <li>
                        <a href="#">35.1.原型Prototype</a>
                    </li>
                    <li>
                        <a href="#">35.2.原型Prototype</a>
                    </li>
                    <li>
                        <a href="#">36.toString()</a>
                    </li>
                    <li>
                        <a href="#">37.垃圾回收</a>
                    </li>
                    <li>
                        <a href="#">38.1.数组Array</a>
                    </li>
                    <li>
                        <a href="#">38.2.数组字面量</a>
                    </li>
                    <li>
                        <a href="#">38.3.数组方法①</a>
                    </li>
                    <li>
                        <a href="#">38.4.数组方法②</a>
                    </li>
                    <li>
                        <a href="#">38.5.数组方法③</a>
                    </li>
                    <li>
                        <a href="#">38.6.数组遍历①</a>
                    </li>
                    <li>
                        <a href="#">38.7.数组遍历②forEach</a>
                    </li>
                    <li>
                        <a href="#">38.a.练习数组</a>
                    </li>
                    <li>
                        <a href="#">38.b.练习数组</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#" class="barL-title">day06: call/正则/DOM</a>
                <ul class="barL-subT">
                    <li>
                        <a href="#">39.call()apply()</a>
                    </li>
                    <li>
                        <a href="#">40.arguments</a>
                    </li>
                    <li>
                        <a href="#">41.Date</a>
                    </li>
                    <li>
                        <a href="#">42.Math</a>
                    </li>
                    <li>
                        <a href="#">43.包装类</a>
                    </li>
                    <li>
                        <a href="#">44.字符串相关方法</a>
                    </li>
                    <li>
                        <a href="#">45.1.正则表达式</a>
                    </li>
                    <li>
                        <a href="#">45.2.RegExp()字面量</a>
                    </li>
                    <li>
                        <a href="#">45.3.字符串正则</a>
                    </li>
                    <li>
                        <a href="#">45.4.正则内容数量与位置</a>
                    </li>
                    <li>
                        <a href="#">45.5.正则转义符</a>
                    </li>
                    <li>
                        <a href="#">45.a.邮件的正则</a>
                    </li>
                    <li>
                        <a href="#">46.DOM简介</a>
                    </li>
                    <li>
                        <a href="#">47.事件</a>
                    </li>
                    <li>
                        <a href="#">48.文档加载</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#" class="barL-title">day07: dom查询/增删改</a>
                <ul class="barL-subT">
                    <li>
                        <a href="#">49.1.document元素节点</a>
                    </li>
                    <li>
                        <a href="#">49.2.元素节点的子节点</a>
                    </li>
                    <li>
                        <a href="#">49.3.剩余方法</a>
                    </li>
                    <li>
                        <a href="#">49.4.父节点和兄弟节点</a>
                    </li>
                    <li>
                        <a href="#">49.a.查询功能实现练习</a>
                    </li>
                    <li>
                        <a href="#">49.b.图片切换</a>
                    </li>
                    <li>
                        <a href="#">49.c.全选练习</a>
                    </li>
                    <li>
                        <a href="#">50.dom增删改</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#" class="barL-title">day08: 操作样式/事件对象</a>
                <ul class="barL-subT">
                    <li>
                        <a href="#">50.a.增删改练习</a>
                    </li>
                    <li>
                        <a href="#">50.b.练习简化</a>
                    </li>
                    <li>
                        <a href="#">50.c.a的索引问题</a>
                    </li>
                    <li>
                        <a href="#">51.1.操作内联样式</a>
                    </li>
                    <li>
                        <a href="#">51.2.读取元素样式</a>
                    </li>
                    <li>
                        <a href="#">51.3.其他样式相关属性</a>
                    </li>
                    <li>
                        <a href="#">51.a.滚动条练习</a>
                    </li>
                    <li>
                        <a href="#">52.1.事件对象</a>
                    </li>
                    <li>
                        <a href="#">52.a.Div跟随鼠标移动练习</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#" class="barL-title">day09: 绑定&传播/BOM</a>
                <ul class="barL-subT">
                    <li>
                        <a href="#">52.2.冒泡事件</a>
                    </li>
                    <li>
                        <a href="#">52.3.冒泡应用：事件委派</a>
                    </li>
                    <li>
                        <a href="#">52.4.事件绑定</a>
                    </li>
                    <li>
                        <a href="#">52.5.事件传播</a>
                    </li>
                    <li>
                        <a href="#">52.6.键盘事件</a>
                    </li>
                    <li>
                        <a href="#">52.b.(鼠标)拖拽练习</a>
                    </li>
                    <li>
                        <a href="#">52.c.(鼠标)封装拖拽函数</a>
                    </li>
                    <li>
                        <a href="#">52.d.(鼠标)滚轮事件练习</a>
                    </li>
                    <li>
                        <a href="#">52.e.(键盘)Div移动练习</a>
                    </li>
                    <li>
                        <a href="#">53.1.BOMintro及Navigator</a>
                    </li>
                    <li>
                        <a href="#">53.2.History</a>
                    </li>
                    <li>
                        <a href="#">test01</a>
                    </li>
                    <li>
                        <a href="#">test02</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#" class="barL-title">day10: 定时/延时调用</a>
                <ul class="barL-subT">
                    <li>
                        <a href="#">53.3.Location</a>
                    </li>
                    <li>
                        <a href="#">54.1.Interval定时调用</a>
                    </li>
                    <li>
                        <a href="#">54.2.Timeout延时调用</a>
                    </li>
                    <li>
                        <a href="#">54.a.图片切换练习</a>
                    </li>
                    <li>
                        <a href="#">54.b.Div移动练习(防卡顿)</a>
                    </li>
                    <li>
                        <a href="#">54.c.定时器练习</a>
                    </li>
                    <li>
                        <a href="#">54.d.定时器练习2</a>
                    </li>
                    <li>
                        <a href="#">54.e.定时器练习3</a>
                    </li>
                    <li>
                        <a href="#">54.f.轮播图界面</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#" class="barL-title">day11: 类操作/JSON</a>
                <ul class="barL-subT">
                    <li>
                        <a href="#">55.1.类的操作</a>
                    </li>
                    <li>
                        <a href="#">55.a.二级菜单练习</a>
                    </li>
                    <li>
                        <a href="#">56.1.JSON.parse()stringify()</a>
                    </li>
                    <li>
                        <a href="#">56.2.JSON.html</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</html>